* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header{
    width: 100%;
    height: 600px;
    background-color: lightgrey;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
  padding-top: 20px;

}

.link {
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
    
}

.link a {
   
    background-color: white;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    font-size: 20px;
}


.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text {
    margin-top: 50px;
    width: 700px;
}

.text p {
    font-weight: lighter;
    line-height: 25px;
}
.formular{
    width: 700px;
}

.formular h3 {
    display: flex;
   
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
    
}

#form {
    transition: 1s ease-in-out;
}
.row {
display: flex;
flex-direction: row;
justify-content: space-evenly;


}

#fname{
    width: 100%;
    margin-right: 10px;
}

#lname{
    width: 100%;
    margin-left: 10px;
}

input {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

#number {
    width: 340px;
}
#submit {
    width: 200px;
    background-color: white;
}

#submit:hover {
    transition: 0.3s ease ;
    background-color: lightgrey;
}


/* Footer */ 


.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    
}

.left {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.middle {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}


.middle h4 {
    font-weight: bold;

}

.middle p {
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 12px;
}



.mehr_foot {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.mehr_foot h4 {
    font-weight: bold;
    
}

.mehr_foot a {
    
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 10px;
    
}

.mehr_foot p {
    font-weight: lighter;
    font-size: 12px;
}


.bottom_foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}




@media screen and (min-width: 1150px ){
    .footer{
        flex-direction: row;
        height: 500px;
     
        
    }

    .middle {
        margin-left: 200px;
       
    }

    .left {
       justify-content: center;
       margin-top: 0;
    }

    .bottom_foot {
       display: flex;
       align-items: center;
    }


}

@media screen and (min-width: 740px){
    .bottom_foot{
        flex-direction: row;
    }

    .middle {
        margin-right: 30px;
    }

    .mehr_foot {
        margin-left: 30px;
    }
}
